.active {
  border-bottom: 5px solid #e23545;
}

.inactive:hover {
  border-bottom: 5px solid gray;
}

.section__border {
  border: 3px dashed rgb(204, 204, 204);
  border-radius: 10px;
  height: 60vh;
}
